<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    페트병 수거 내역 Mapper.xml
    @author : sehui
    @fileName : PetRecycleRecordMapper.xml
    @since : 250902
    @history
     - 250902 | sehui | 전체 무인 회수기의 수거 내역 조회 기능 추가
     - 250902 | sehui | 무인 회수기 단건 조회 기능 추가
-->

<mapper namespace="com.petcoin.mapper.PetRecycleRecordMapper">

    <resultMap id="petRecycleStatsMap" type="com.petcoin.dto.PetRecycleStatsDto">
        <id property="recycleId" column="recycle_id" />
        <result property="recycleName" column="recycle_name" />
        <result property="address" column="address" />
        <result property="latitude" column="latitude" />
        <result property="longitude" column="longitude" />
        <result property="recycleTel" column="recycle_tel" />
        <result property="sido" column="sido" />
        <result property="sigungu" column="sigungu" />
        <result property="dong" column="dong" />
    </resultMap>

    <!-- 전체 무인 회수기의 수거 내역 조회 + 검색 + 페이징 -->
<!--    <select id="findRecycleStatsWithPaging" resultType="com.petcoin.dto.PetRecycleStatsDto">-->
<!--        SELECT-->
<!--            pr.recycle_id AS recycleId,-->
<!--            pr.address AS address,-->
<!--            COUNT(pcl.pet_collection_id) AS totalCount,-->
<!--            SUM(CASE WHEN pcl.pet_rejection_id IS NOT NULL THEN 1 ELSE 0 END) AS defectCount,-->
<!--            (300 - COUNT(pcl.pet_collection_id)) AS remainCapacity-->
<!--        FROM pet_recycle pr-->
<!--        JOIN kiso k ON pr.recycle_id = k.recycle_id-->
<!--        LEFT JOIN kiosk run kr ON k.kiosk_id = kr.kiosk_id-->
<!--        LEFT JOIN pet_collection_log pcl ON kr.run_id = pcl.run_id-->
<!--        <where>-->
<!--            -->
<!--        </where>-->
<!--    </select>-->
</mapper>