<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    포인트 내역 Mapper.xml
    @author : sehui
    @fileName : PointHisMapper.xml
    @since : 250827
    @history
     - 250827 | sehui | 회원별 포인트 전체 내역 조회 기능 추가
     - 250828 | sehui | 현재 포인트 잔액 조회 기능 추가
     - 250828 | sehui | 포인트 내역 추가 (환급 시 포인트 차감) 기능 추가
     - 250901 | leejihye | 포인트 적립 기능 추가
-->

<mapper namespace="com.petcoin.mapper.PointHisMapper">

    <resultMap id="pointHisMap" type="com.petcoin.domain.PointHistoryVO">
        <id property="historyId" column="history_id" />
        <result property="memberId" column="member_id" />
        <result property="pointChange" column="point_change" />
        <result property="pointBalance" column="point_balance" />
        <result property="actionType" column="action_type" />
        <result property="description" column="description" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <!-- 회원별 포인트 전체 내역 조회 -->
    <select id="findPointHistoryById" resultMap="pointHisMap">
        SELECT
            history_id,
            member_id,
            point_change,
            point_balance,
            action_type,
            description,
            created_at
        FROM point_history
        WHERE member_id = #{memberId}
    </select>

    <!-- 현재 포인트 잔액 조회 -->
    <select id="findLatestPointBalance" resultType="int">
        SELECT point_balance
        FROM point_history
        WHERE member_id = #{memberId}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <!-- 포인트 내역 추가 (환급 시 포인트 차감) -->
    <insert id="insertPointHistory">
        INSERT INTO point_history (member_id, point_change, point_balance, action_type, description, created_at)
        VALUES (
                #{memberId},
                -#{requestAmount},
                #{latestPointBalance} - #{requestAmount},
                #{actionType},
                '포인트 환급 신청',
                NOW()
        )
    </insert>

    <!-- 포인트 적립 내역 추가 -->
    <insert id="plusPoint">
        INSERT INTO point_history (member_id, point_change, point_balance, action_type, description, created_at)
        VALUES (
                   #{memberId},
                   #{pointChange},
                   #{pointBalance},
                   #{actionType},
                   #{description},
                   NOW()
               )
    </insert>
</mapper>